<div class="svg_pattern">
  <svg height="100" width="100" style="float:left" class="pattern-swatch">
    <rect style="fill: url(#<%= name %>) #fff;" x="0" y="0" height="100" width="100">
    </rec>
  </svg>
  <div class="pattern_name">
    Fill url name: <br /><br /><strong>#<%= name %></strong>
  </div>
  <div class="clicktosee">
    Click here to see pattern definition
  </div>
  <div class="svg_def">
    Copy the following into your html document:
    <div class="code">
      <%= escapedSVG %>
    </div>
  </div>
</div>