.crosshatch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
  background-repeat: repeat;
}
.houndstooth {
  background-image: url("data:image/svg+xml,<svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'><path d='M0 0l4 4M2.5 0l2.5 2.5v2.5l4 4-4-4h5v-5M5 10v-2.5l2.5 2.5' stroke='#aaa' fill='#aaa'/></svg>");
  background-repeat: repeat;
}
.lightstripe {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><path fill='#fff' d='M0 0h5v5h-5z'/><path d='M0 5l5-5zm6-1l-2 2zm-7-3l2-2z' stroke='#888'/></svg>");
  background-repeat: repeat;
}
.smalldot {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><path fill='#fff' d='M0 0h5v5h-5z'/><path fill='#ccc' d='M0 0h1v1h-1z'/></svg>");
  background-repeat: repeat;
}
.stripe-1 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path fill='#FFF' d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#000'/></svg>");
  background-repeat: repeat;
}
.stripe-2 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path fill='#FFF' d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#000' stroke-width='2'/></svg>");
  background-repeat: repeat;
}
.stripe-3 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path fill='#FFF' d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#000' stroke-width='3'/></svg>");
  background-repeat: repeat;
}
.stripe-4 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#fff' stroke-width='3'/></svg>");
  background-repeat: repeat;
}
.stripe-5 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#fff' stroke-width='2'/></svg>");
  background-repeat: repeat;
}
.stripe-6 {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M0 0h10v10h-10z'/><path d='M-1 1l2-2m-1 11l10-10m-1 11l2-2' stroke='#fff'/></svg>");
  background-repeat: repeat;
}
.verticalstripe {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='49'><path fill='#fff' d='M0 0h3v50h-3z'/><path fill='#ccc' d='M3 0h1v50h-1z'/></svg>");
  background-repeat: repeat;
}
.whitecarbon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6' height='6'><path fill='#eee' d='M0 0h6v6h-6z'/><g id='a'><path fill='#e6e6e6' d='M0 0h3v3h-3z'/><path fill='#d8d8d8' d='M0 1h3v2h-3z'/></g><use xlink:href='#a' x='3' y='3'/></svg>");
  background-repeat: repeat;
}
