<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pattern fills - samples.</title>
    <script type="text/javascript" src="d3/d3.min.js"></script>
    <link rel="stylesheet" href="patterns.css">
    <style type="text/css">
      body {
        font-family: Raleway, Open Sans, Helvetica, sans-serif;
        max-width: 980px;
        margin: 0 auto;
        padding: 50px;
      }

      .info {
        background-color: #eee;
        padding: 10px;
        font-family: monospace;
      }
    </style>
  </head>
  <body>

   <a href="https://github.com/iros/patternfills"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <header>
      <h1>Pattern Fills</h1>
      <div class="info">
        Github: <a href="http://github.com/iros/patternfills">
          http://github.com/iros/patternfills
        </a>
      </div>
    </header>

    <p>
      There are many ways to fill the background of a DOM or SVG element, including using solid colors or gradients. If you want to use a repeating pattern of some kind, the easiest way to do so is to create an SVG document that defines it and use it as a pattern fill. SVG images are typically smaller than bitmap images and remain sharp on high-dpi screens. Unlike CSS3 gradients, SVG images are supported on IE9. (source: http://philbit.com/svgpatterns/#whysvg)
    </p>

    <p>
      We are going to be using svg patterns in three ways. Click the following links to see the patterns and how they are used.

      <ul>
        <li><a href="sample_css.html">CSS Classnames</a></li>
        <li><a href="sample_svg.html">SVG URL Fills</a></li>
        <li><a href="sample_d3.html">Using d3 (which is effectively svg fills)</a></li>
      </ul>
    </p>

    <h2>How do SVG Patterns Work?</h2>

    <p>First an svg pattern needs to be defined. For example
      this pattern generates small circles, each of radius 1px and
      positions them at coordinates <code>1,1</code> like so:

      <br>
      <svg style="padding:10px;" height="100" width="100" class="pattern-swatch">
        <rect style="fill: url(#circles-1) #fff;" x="0" y="0" height="100" width="100">
      </rect></svg>
    </p>

    <script src="https://gist.github.com/iros/d49c0fc8b870059a3c2b.js?file=pattern.svg"></script>

    <p>
      This pattern then needs to be compiled. There are two ways generate a compiled version:
    </p>

    <h3>1. SVG Pattern Definition:</h3>
    <p>
    To define a pattern that can then be used in svg, one must add it to the defs section of an svg container. Note that the SVG pattern we defined above gets translated into a string.
    </p>
    <p>
    <script src="https://gist.github.com/iros/d49c0fc8b870059a3c2b.js?file=pattern_def_sample.html"></script>

    <p>
      This allows us to use the pattern like so:
    </p>
    <p>
      <script src="https://gist.github.com/iros/d49c0fc8b870059a3c2b.js?file=svg_pattern_use.html"></script>
    </p>


    <h3>2. CSS Background Image Url</h3>
    <p>
    To define a pattern that can be used with a classname, one must define a classname where the pattern string is used as the `background-image` url. For example:
    </p>

    <script src="https://gist.github.com/iros/d49c0fc8b870059a3c2b.js?file=pattern.css"></script>

    <p>
      This allows us to use the pattern like so:
      <script src="https://gist.github.com/iros/d49c0fc8b870059a3c2b.js?file=svg_pattern_use.html"></script>
    </p>

    <h2>What does this library do:</h2>

    <p>
      Patternfills offers several premade patterns that can be used already.
      You can see them in class name form in <code>public/patterns.css</code>.
    </p>
    <p>
      For the SVG form of the patterns, you should look at <code>public/sample_svg.html</code> to view the actual compiled pattern svg definitions.
    </p>

    <h2>How do I add patterns?</h2>

    <p>
      You can see the development instructions in the readme here:
      <a href="https://github.com/iros/patternfills/blob/master/README.md#modifyingadding-patterns">https://github.com/iros/patternfills/blob/master/README.md#modifyingadding-patterns</a>
    </p>

    <h2>Questions?</h2>

    <p>
      Please get in touch via github issues if you have any questions/requests of this project or contact me (<a href="http://twitter.com/ireneros">@ireneros</a>) via email at irene at bocoup.com.
    </p>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <pattern id="circles-1" patternUnits="userSpaceOnUse" width="10" height="10">
          <image xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path fill='#fff' d='M0 0h10v10h-10z'/><circle cx='1' cy='1' r='1'/></svg>"
            x="0"
            y="0"
            width="10"
            height="10">
          </image>
        </pattern>
      </defs>
    </svg>

  </body>
</html>
